<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.ccf.mapper.CommandMapper">

    <insert id="insertInToCommand" parameterType="cn.ccf.pojo.Command" useGeneratedKeys="true" keyProperty="id">
          insert into com_command(UserID, ClientIP, UseType, CommandType, CommandParam) VALUES (
            #{userid, jdbcType=INTEGER},#{clientip, jdbcType=VARCHAR}, #{usetype, jdbcType=INTEGER},#{commandtype, jdbcType=VARCHAR},#{commandparam, jdbcType=VARCHAR}
          )
    </insert>
    <insert id="insertInToRecord" parameterType="cn.ccf.pojo.Record">
          insert into com_record(Time, IP, TableName, TableID, Type) VALUES (
            #{time, jdbcType=VARCHAR},#{ip, jdbcType=VARCHAR}, #{tablename, jdbcType=VARCHAR},#{tableid, jdbcType=INTEGER},#{type, jdbcType=INTEGER}
          )
    </insert>
    <select id="getAutoIncrementID" resultType="int">
        select max(id) from com_command
    </select>

</mapper>