<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.ccf.mapper.FilmMapper" >
  <resultMap id="BaseResultMap" type="cn.ccf.pojo.Film" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="country" property="country" jdbcType="VARCHAR" />
    <result column="during" property="during" jdbcType="VARCHAR" />
    <result column="leadingRole" property="leadingrole" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="top" property="top" jdbcType="BIT" />
    <result column="createTime" property="createtime" jdbcType="VARCHAR" />
    <result column="imgURL" property="imgurl" jdbcType="VARCHAR" />
    <result column="filmURL" property="filmurl" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, title, country, during, leadingRole, type, top, createTime, imgURL, filmURL, 
    remark
  </sql>
  
  <select id="selectByType" resultMap="BaseResultMap" parameterType="java.lang.String" >
  	 select 
    <include refid="Base_Column_List" />
    from film
    where type = #{type,jdbcType=VARCHAR}
  </select>
  
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.ccf.pojo.FilmExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from film
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from film
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from film
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="cn.ccf.pojo.FilmExample" >
    delete from film
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.ccf.pojo.Film" >
    insert into film (id, title, country, 
      during, leadingRole, type, 
      top, createTime, imgURL, 
      filmURL, remark)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{country,jdbcType=VARCHAR}, 
      #{during,jdbcType=VARCHAR}, #{leadingrole,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{top,jdbcType=BIT}, #{createtime,jdbcType=VARCHAR}, #{imgurl,jdbcType=VARCHAR}, 
      #{filmurl,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.ccf.pojo.Film" >
    insert into film
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="country != null" >
        country,
      </if>
      <if test="during != null" >
        during,
      </if>
      <if test="leadingrole != null" >
        leadingRole,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="top != null" >
        top,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="imgurl != null" >
        imgURL,
      </if>
      <if test="filmurl != null" >
        filmURL,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="country != null" >
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="during != null" >
        #{during,jdbcType=VARCHAR},
      </if>
      <if test="leadingrole != null" >
        #{leadingrole,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="top != null" >
        #{top,jdbcType=BIT},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="imgurl != null" >
        #{imgurl,jdbcType=VARCHAR},
      </if>
      <if test="filmurl != null" >
        #{filmurl,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.ccf.pojo.FilmExample" resultType="java.lang.Integer" >
    select count(*) from film
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update film
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.title != null" >
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.country != null" >
        country = #{record.country,jdbcType=VARCHAR},
      </if>
      <if test="record.during != null" >
        during = #{record.during,jdbcType=VARCHAR},
      </if>
      <if test="record.leadingrole != null" >
        leadingRole = #{record.leadingrole,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.top != null" >
        top = #{record.top,jdbcType=BIT},
      </if>
      <if test="record.createtime != null" >
        createTime = #{record.createtime,jdbcType=VARCHAR},
      </if>
      <if test="record.imgurl != null" >
        imgURL = #{record.imgurl,jdbcType=VARCHAR},
      </if>
      <if test="record.filmurl != null" >
        filmURL = #{record.filmurl,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update film
    set id = #{record.id,jdbcType=INTEGER},
      title = #{record.title,jdbcType=VARCHAR},
      country = #{record.country,jdbcType=VARCHAR},
      during = #{record.during,jdbcType=VARCHAR},
      leadingRole = #{record.leadingrole,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=VARCHAR},
      top = #{record.top,jdbcType=BIT},
      createTime = #{record.createtime,jdbcType=VARCHAR},
      imgURL = #{record.imgurl,jdbcType=VARCHAR},
      filmURL = #{record.filmurl,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.ccf.pojo.Film" >
    update film
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="country != null" >
        country = #{country,jdbcType=VARCHAR},
      </if>
      <if test="during != null" >
        during = #{during,jdbcType=VARCHAR},
      </if>
      <if test="leadingrole != null" >
        leadingRole = #{leadingrole,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="top != null" >
        top = #{top,jdbcType=BIT},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="imgurl != null" >
        imgURL = #{imgurl,jdbcType=VARCHAR},
      </if>
      <if test="filmurl != null" >
        filmURL = #{filmurl,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.ccf.pojo.Film" >
    update film
    set title = #{title,jdbcType=VARCHAR},
      country = #{country,jdbcType=VARCHAR},
      during = #{during,jdbcType=VARCHAR},
      leadingRole = #{leadingrole,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      top = #{top,jdbcType=BIT},
      createTime = #{createtime,jdbcType=VARCHAR},
      imgURL = #{imgurl,jdbcType=VARCHAR},
      filmURL = #{filmurl,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>