<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.ccf.mapper.LawMapper" >
  <resultMap id="BaseResultMap" type="cn.ccf.pojo.Law" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="Type" property="type" jdbcType="VARCHAR" />
    <result column="Name" property="name" jdbcType="VARCHAR" />
    <result column="Keywords" property="keywords" jdbcType="VARCHAR" />
    <result column="Abstract" property="digest" jdbcType="VARCHAR" />
    <result column="AbledTime" property="abledtime" jdbcType="VARCHAR" />
    <result column="PulishNumber" property="pulishnumber" jdbcType="VARCHAR" />
    <result column="FileName" property="filename" jdbcType="VARCHAR" />
    <result column="FilePath" property="filepath" jdbcType="VARCHAR" />
    <result column="Remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, Type, Name, Keywords, Abstract, AbledTime, PulishNumber, FileName, FilePath, 
    Remark
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.ccf.pojo.LawExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from com_law_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from com_law_info
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from com_law_info
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="cn.ccf.pojo.LawExample" >
    delete from com_law_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.ccf.pojo.Law" >
    insert into com_law_info (ID, Type, Name, 
      Keywords, Abstract, AbledTime, 
      PulishNumber, FileName, FilePath, 
      Remark)
    values (#{id,jdbcType=INTEGER}, #{type,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{keywords,jdbcType=VARCHAR}, #{digest,jdbcType=VARCHAR}, #{abledtime,jdbcType=VARCHAR}, 
      #{pulishnumber,jdbcType=VARCHAR}, #{filename,jdbcType=VARCHAR}, #{filepath,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.ccf.pojo.Law" >
    insert into com_law_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="type != null" >
        Type,
      </if>
      <if test="name != null" >
        Name,
      </if>
      <if test="keywords != null" >
        Keywords,
      </if>
      <if test="digest != null" >
        Abstract,
      </if>
      <if test="abledtime != null" >
        AbledTime,
      </if>
      <if test="pulishnumber != null" >
        PulishNumber,
      </if>
      <if test="filename != null" >
        FileName,
      </if>
      <if test="filepath != null" >
        FilePath,
      </if>
      <if test="remark != null" >
        Remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="keywords != null" >
        #{keywords,jdbcType=VARCHAR},
      </if>
      <if test="digest != null" >
        #{digest,jdbcType=VARCHAR},
      </if>
      <if test="abledtime != null" >
        #{abledtime,jdbcType=VARCHAR},
      </if>
      <if test="pulishnumber != null" >
        #{pulishnumber,jdbcType=VARCHAR},
      </if>
      <if test="filename != null" >
        #{filename,jdbcType=VARCHAR},
      </if>
      <if test="filepath != null" >
        #{filepath,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.ccf.pojo.LawExample" resultType="java.lang.Integer" >
    select count(*) from com_law_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update com_law_info
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.type != null" >
        Type = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        Name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.keywords != null" >
        Keywords = #{record.keywords,jdbcType=VARCHAR},
      </if>
      <if test="record.digest != null" >
        Abstract = #{record.digest,jdbcType=VARCHAR},
      </if>
      <if test="record.abledtime != null" >
        AbledTime = #{record.abledtime,jdbcType=VARCHAR},
      </if>
      <if test="record.pulishnumber != null" >
        PulishNumber = #{record.pulishnumber,jdbcType=VARCHAR},
      </if>
      <if test="record.filename != null" >
        FileName = #{record.filename,jdbcType=VARCHAR},
      </if>
      <if test="record.filepath != null" >
        FilePath = #{record.filepath,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        Remark = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update com_law_info
    set ID = #{record.id,jdbcType=INTEGER},
      Type = #{record.type,jdbcType=VARCHAR},
      Name = #{record.name,jdbcType=VARCHAR},
      Keywords = #{record.keywords,jdbcType=VARCHAR},
      Abstract = #{record.digest,jdbcType=VARCHAR},
      AbledTime = #{record.abledtime,jdbcType=VARCHAR},
      PulishNumber = #{record.pulishnumber,jdbcType=VARCHAR},
      FileName = #{record.filename,jdbcType=VARCHAR},
      FilePath = #{record.filepath,jdbcType=VARCHAR},
      Remark = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.ccf.pojo.Law" >
    update com_law_info
    <set >
      <if test="type != null" >
        Type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        Name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="keywords != null" >
        Keywords = #{keywords,jdbcType=VARCHAR},
      </if>
      <if test="digest != null" >
        Abstract = #{digest,jdbcType=VARCHAR},
      </if>
      <if test="abledtime != null" >
        AbledTime = #{abledtime,jdbcType=VARCHAR},
      </if>
      <if test="pulishnumber != null" >
        PulishNumber = #{pulishnumber,jdbcType=VARCHAR},
      </if>
      <if test="filename != null" >
        FileName = #{filename,jdbcType=VARCHAR},
      </if>
      <if test="filepath != null" >
        FilePath = #{filepath,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        Remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.ccf.pojo.Law" >
    update com_law_info
    set Type = #{type,jdbcType=VARCHAR},
      Name = #{name,jdbcType=VARCHAR},
      Keywords = #{keywords,jdbcType=VARCHAR},
      Abstract = #{digest,jdbcType=VARCHAR},
      AbledTime = #{abledtime,jdbcType=VARCHAR},
      PulishNumber = #{pulishnumber,jdbcType=VARCHAR},
      FileName = #{filename,jdbcType=VARCHAR},
      FilePath = #{filepath,jdbcType=VARCHAR},
      Remark = #{remark,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>