<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.ccf.mapper.StyleMapper" >
  <resultMap id="BaseResultMap" type="cn.ccf.pojo.Style" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="Name" property="name" jdbcType="VARCHAR" />
    <result column="Type" property="type" jdbcType="INTEGER" />
    <result column="Content" property="content" jdbcType="VARCHAR" />
    <result column="Digest" property="digest" jdbcType="VARCHAR" />
    <result column="DepartmentID" property="departmentid" jdbcType="INTEGER" />
    <result column="CreateDate" property="createdate" jdbcType="VARCHAR" />
    <result column="CreateUserID" property="createuserid" jdbcType="INTEGER" />
    <result column="Issue" property="issue" jdbcType="INTEGER" />
    <result column="Stick" property="stick" jdbcType="INTEGER" />
    <result column="HighLight" property="highlight" jdbcType="INTEGER" />
    <result column="Push" property="push" jdbcType="INTEGER" />
    <result column="Remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, Name, Type, Content, Digest, DepartmentID, CreateDate, CreateUserID, Issue, Stick, 
    HighLight, Push, Remark
  </sql>
  
  <select id="selectByDepartmentID" parameterType="java.lang.Integer"
		resultType="java.lang.String">
		SELECT com_department.Name FROM mh_basic_style LEFT JOIN com_department
		on mh_basic_style.DepartmentID = com_department.ID
		where mh_basic_style.id = #{departmentID, jdbcType=INTEGER};
	</select>
  
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.ccf.pojo.StyleExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from mh_basic_style
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from mh_basic_style
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from mh_basic_style
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="cn.ccf.pojo.StyleExample" >
    delete from mh_basic_style
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.ccf.pojo.Style" >
    insert into mh_basic_style (ID, Name, Type, 
      Content, Digest, DepartmentID, 
      CreateDate, CreateUserID, Issue, 
      Stick, HighLight, Push, 
      Remark)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, 
      #{content,jdbcType=VARCHAR}, #{digest,jdbcType=VARCHAR}, #{departmentid,jdbcType=INTEGER}, 
      #{createdate,jdbcType=VARCHAR}, #{createuserid,jdbcType=INTEGER}, #{issue,jdbcType=INTEGER}, 
      #{stick,jdbcType=INTEGER}, #{highlight,jdbcType=INTEGER}, #{push,jdbcType=INTEGER}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.ccf.pojo.Style" >
    insert into mh_basic_style
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="name != null" >
        Name,
      </if>
      <if test="type != null" >
        Type,
      </if>
      <if test="content != null" >
        Content,
      </if>
      <if test="digest != null" >
        Digest,
      </if>
      <if test="departmentid != null" >
        DepartmentID,
      </if>
      <if test="createdate != null" >
        CreateDate,
      </if>
      <if test="createuserid != null" >
        CreateUserID,
      </if>
      <if test="issue != null" >
        Issue,
      </if>
      <if test="stick != null" >
        Stick,
      </if>
      <if test="highlight != null" >
        HighLight,
      </if>
      <if test="push != null" >
        Push,
      </if>
      <if test="remark != null" >
        Remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="digest != null" >
        #{digest,jdbcType=VARCHAR},
      </if>
      <if test="departmentid != null" >
        #{departmentid,jdbcType=INTEGER},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=VARCHAR},
      </if>
      <if test="createuserid != null" >
        #{createuserid,jdbcType=INTEGER},
      </if>
      <if test="issue != null" >
        #{issue,jdbcType=INTEGER},
      </if>
      <if test="stick != null" >
        #{stick,jdbcType=INTEGER},
      </if>
      <if test="highlight != null" >
        #{highlight,jdbcType=INTEGER},
      </if>
      <if test="push != null" >
        #{push,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.ccf.pojo.StyleExample" resultType="java.lang.Integer" >
    select count(*) from mh_basic_style
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update mh_basic_style
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        Name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null" >
        Type = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.content != null" >
        Content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.digest != null" >
        Digest = #{record.digest,jdbcType=VARCHAR},
      </if>
      <if test="record.departmentid != null" >
        DepartmentID = #{record.departmentid,jdbcType=INTEGER},
      </if>
      <if test="record.createdate != null" >
        CreateDate = #{record.createdate,jdbcType=VARCHAR},
      </if>
      <if test="record.createuserid != null" >
        CreateUserID = #{record.createuserid,jdbcType=INTEGER},
      </if>
      <if test="record.issue != null" >
        Issue = #{record.issue,jdbcType=INTEGER},
      </if>
      <if test="record.stick != null" >
        Stick = #{record.stick,jdbcType=INTEGER},
      </if>
      <if test="record.highlight != null" >
        HighLight = #{record.highlight,jdbcType=INTEGER},
      </if>
      <if test="record.push != null" >
        Push = #{record.push,jdbcType=INTEGER},
      </if>
      <if test="record.remark != null" >
        Remark = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update mh_basic_style
    set ID = #{record.id,jdbcType=INTEGER},
      Name = #{record.name,jdbcType=VARCHAR},
      Type = #{record.type,jdbcType=INTEGER},
      Content = #{record.content,jdbcType=VARCHAR},
      Digest = #{record.digest,jdbcType=VARCHAR},
      DepartmentID = #{record.departmentid,jdbcType=INTEGER},
      CreateDate = #{record.createdate,jdbcType=VARCHAR},
      CreateUserID = #{record.createuserid,jdbcType=INTEGER},
      Issue = #{record.issue,jdbcType=INTEGER},
      Stick = #{record.stick,jdbcType=INTEGER},
      HighLight = #{record.highlight,jdbcType=INTEGER},
      Push = #{record.push,jdbcType=INTEGER},
      Remark = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.ccf.pojo.Style" >
    update mh_basic_style
    <set >
      <if test="name != null" >
        Name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        Type = #{type,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        Content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="digest != null" >
        Digest = #{digest,jdbcType=VARCHAR},
      </if>
      <if test="departmentid != null" >
        DepartmentID = #{departmentid,jdbcType=INTEGER},
      </if>
      <if test="createdate != null" >
        CreateDate = #{createdate,jdbcType=VARCHAR},
      </if>
      <if test="createuserid != null" >
        CreateUserID = #{createuserid,jdbcType=INTEGER},
      </if>
      <if test="issue != null" >
        Issue = #{issue,jdbcType=INTEGER},
      </if>
      <if test="stick != null" >
        Stick = #{stick,jdbcType=INTEGER},
      </if>
      <if test="highlight != null" >
        HighLight = #{highlight,jdbcType=INTEGER},
      </if>
      <if test="push != null" >
        Push = #{push,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        Remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.ccf.pojo.Style" >
    update mh_basic_style
    set Name = #{name,jdbcType=VARCHAR},
      Type = #{type,jdbcType=INTEGER},
      Content = #{content,jdbcType=VARCHAR},
      Digest = #{digest,jdbcType=VARCHAR},
      DepartmentID = #{departmentid,jdbcType=INTEGER},
      CreateDate = #{createdate,jdbcType=VARCHAR},
      CreateUserID = #{createuserid,jdbcType=INTEGER},
      Issue = #{issue,jdbcType=INTEGER},
      Stick = #{stick,jdbcType=INTEGER},
      HighLight = #{highlight,jdbcType=INTEGER},
      Push = #{push,jdbcType=INTEGER},
      Remark = #{remark,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>