@charset "UTF-8";
/*-----按钮-----*/
.btn{
  display: inline-block;
  width: auto;
  min-width: 60px;
  height: 32px;
  line-height: 26px;
  padding: 2px 10px;
  background: #fff;
  color: $color;
  font-size: $size;
  border: 1px solid $color-border;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
  &:hover{
    -webkit-transition: .3s linear all;
    -moz-transition: .3s linear all;
    transition: .3s linear all;
    background: $color-primary;
    border-color: $color-primary;
    color: #fff;
  }
}
.btn-primary{
  background: $color-primary;
  color: #fff;
  border: 1px solid transparent;
  &:hover{
    background: #4cb0f9;
    color: #fff;
  }
}

.btn-link{
  background: #fff;
  color: #333;
  border: 1px solid transparent;
  _border: 1px solid $color-border;
  &:hover{
    background: #fff;
    color: #333;
    text-decoration: underline;
    _border: 1px solid $color-border;
  }
}
.btn-disabled{
  background: $color-disabled;
  color: #fff;
  border: 1px solid $color-disabled;;
  &:hover{
    background: $color-disabled;;
    color: #fff;
    cursor: default;
  }
  &:active{
    box-shadow: none;
  }
}

/*-----按钮组-----*/
.btn-group-left{
  text-align: left;
  font-size: 0;
  .btn{
    margin-right: $num;
  }
}
.btn-group-right{
  text-align: right;
  font-size: 0;
  .btn{
    margin-left: $num;
  }
}
.btn-group-center{
  text-align: center;
  font-size: 0;
  .btn{
    margin: 0 $num/2;
  }
}
.btn-group{
  display: inline-block;
  font-size: 0;
  white-space: nowrap;
  .btn{
    border-radius: 0;
  }
  .btn+.btn {
    margin-left: -1px;
}
  .btn:first-child {
    margin-left: 0;
    border-radius: $radius 0 0 $radius;
  }
  .btn:last-child {
    border-radius: 0 $radius $radius 0;
  }
}


select{
  height: 32px;
  line-height: 32px;
  border: 1px solid $color-border;
  padding: 0px 0px 0px 5px;
  color: $color;
  text-indent: 0;
  text-align: left;
  outline: none;
  border-radius: 3px;
  min-width: 80px;
  background: #fff;
}

.inp,
.input,
input[type="text"],
input[type="password"]{
  height: 32px;
  line-height: 26px;
  border: 1px solid $color-border;
  padding: 1px 5px;
  background-color: #fff;
  outline: 0;
  vertical-align: middle;
  -webkit-transition: border-color linear .2s;
  -o-transition: border-color linear .2s;
  transition: border-color linear .2s;
  position: relative;
  color: $color;
  &:focus,&.focus{
    border-color: $color-hover;
    box-shadow: 0 0 4px rgba($color-hover,.8);
  }
  &.error{
    border-color: $color-error;
    color: $color-error;
  }
  &.success{
    border-color: $color-success;
    color: $color-success;
  }
  &.disabled{
    border-color: $color-disabled;
    background: $color-disabled;
    color: #999;
    cursor: not-allowed;
  }
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: $color-light; 
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: $color-light; 
}

input:-ms-input-placeholder{
    color: $color-light; 
}

input::-webkit-input-placeholder{
    color: $color-light; 
}
/*-----日期控件-----*/ 
.inp-date{
  background: #fff url(../images/meal/date.png) right center no-repeat;      
}

/*textarea*/ 
.textarea,
textarea{
  @extend .inp;
  height: auto;
  min-height: 32px;
}

.form-block{
  width: 100%;
}